@charset "utf-8";
/* CSS Document */
body{
background-image:url(../images/aurelien-bellanger-3970unsplash.com.jpg);
min-height: 100%;
background-position: center;
background-size:cover;
}
h1,h2,h3,h4,h5,h6{
	font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
h3{
	color:#F9F9F9;}

#indexPage{
	margin: 0% 12% 0% 12%;	
	}
.resListItem{
    background:#00BF55;
	display:block;
	text-align:center;
	font-size:17px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#fff;
}
.parallax{
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
.A2{
	width:250px;
	float:right;
	clear:both; 
	
}
.A1{
	width:300px;
	margin-top:30px;
	height:300px;
}

#noResultsContainer{
	 border-color: black;
     border-width: 1px;
     border-style: solid;
     background-color: #a7cece;
	 color:#900; 
	 padding:25px;
	 margin:30px;
	 margin-right:250px;
	 font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	 padding-left:80px;
	 line-height:1.6em;
	 font-style:normal;
	 font-size:19px;
}
.slider{
	display:none;
}
.slider2{
	display:none;
}
@media screen and (max-width:800px){
	#indexPage{display:compact;}
	.A2{
	float:none; clear:both; width:70%;}
	.A1{width:70%;}
	h3, .resListItem{font-size:55%;}
}